[2015-11-24 21:29] toralf opened #2 "make install failed (w/ Python 3.4)"
At a hardened 64bit stable Gerntoo Linux make went fine but "sudo make install" gave ::

creating build/temp.linux-x86_64-3.4
creating build/temp.linux-x86_64-3.4/dublintraceroute
x86_64-pc-linux-gnu-g++ -pthread -fPIC -I../include -I../dependencies/libtins/include -I../dependencies/g3log/src -I../dependencies/jsoncpp/dist -I/usr/include/python3.4 -c dublintraceroute/_dublintraceroute.cc -o build/

[2015-11-25 15:54] toralf opened #3 "Segmentation fault at a hardened Gentoo Linux"
I got:
...
read(4, ".0.1 valtrex.1.p2l.info\n127.0.0."..., 4096) = 4096
read(4, "www.shopping-artikel.de\n127.0.0."..., 4096) = 4096
read(4, "Cole, William Jones, Brian Small"..., 4096) = 1585
read(4, "", 4096)                       = 0
close(4)                                = 0
munmap(0x384b17a1000, 4096)             = 0
socket(PF_INET, SOCK_DGRAM|SOCK_NONBLOCK, IPPROTO_IP) = 4
connect(4, {sa_fa

[2015-11-25 18:50] insomniacslk commented on #2
Hi Toralf,

thanks for your report! The Python module has only been developed for Python 2.x so far, but the porting to 3.x should not be complicated. There are a few things that changed from 2.x to 3.x in the C API, including PyString_* that became PyBytes_* (as you see from the errors you get). I will work on it during the weekend. The documentation is at https://docs.python.org/3/howto/cporting

[2015-12-31 18:50] insomniacslk commented on #2
Hi Toralf,
this should be fixed in https://github.com/insomniacslk/dublin-traceroute/commit/ab2d7ccc974a606d86ab239f3eed5846ff57526d

[2015-12-31 18:53] #2 closed

[2016-01-09 00:59] insomniacslk commented on #3
Hi @toralf , I cannot reproduce the bug with a large /etc/hosts ( 21212  42427 530246 hosts ). Can you please give more information?

Aside that, from the output of your strace it seems to be more an issue with a system library or a dependency than a bug in dublin-traceroute. In any case I'll be happy to work on it as soon as I can reproduce it.

[2016-01-09 01:09] insomniacslk commented on #3
@toralf despite this bug is apparently unrelated to the size of /etc/hosts, it also appears that you have some garbage in your /etc/hosts (see the third read() syscall)

[2016-01-15 22:45] insomniacslk commented on #3
Resolving since it cannot be reproduced and there's no follow-up

[2016-01-15 22:45] #3 closed

[2016-02-04 19:54] insomniacslk opened #4 "No packet is sent on Mac OS X"
Dublin-traceroute compiles fine on Mac OS X, but when running no packet is sent over the interface.

Steps to reproduce:
- compile on Mac OS X
- run tcpdump -i <interface> 'udp portrange 33434-33443' (as root)
- run dublin-traceroute <target> as root (or with appropriate capabilities)
- see that no traceroute is performed and no packet is sniffed by tcpdump

[2016-02-04 19:55] insomniacslk opened #5 "Add IPv6 support"
Dublin Traceroute is only able to work on IPv4 networks. IPv6 support is required, as IPv4 is a legacy protocol.

[2016-02-04 19:58] insomniacslk opened #6 "Add MPLS support"
Dublin Traceroute would be more helpful if able to print MPLS information from response packets on MPLS networks

[2016-02-18 19:45] insomniacslk commented on #4
Forgot to closed this one - Fixed in https://github.com/insomniacslk/dublin-traceroute/commit/df215210c767273a8e6afb751959181ffdee9f90

[2016-02-18 19:45] #4 closed

[2016-05-27 10:22] NavinF opened #9 "The website is down"
FYI: https://dublin-traceroute.net/ returns `502 Bad Gateway`.

[2016-05-27 10:39] insomniacslk commented on #9
Thanks for the report @NavinF , it's back up now.

Also, good to see that there is interest around Dublin Traceroute. I'd love to hear how people use it!

[2016-05-27 10:39] #9 closed

[2016-05-27 10:52] NavinF commented on #9
Wow that was fast! :)

[2016-05-27 10:58] NavinF commented on #9
Wow that was fast! :)

There is indeed interest in Dublin Traceroute. I might send a few PRs once I figure out how to to make it stop using the wrong source IP.

[2016-05-27 11:51] insomniacslk commented on #9
Nice to hear that!

On the PR, if you have a specific request or just want to discuss on something that would be interesting to fix/add, feel free to open an issue

[2016-07-13 00:24] rosstex opened #12 "Abort trap: 6"
Ran on the MacOS Sierra beta after compiling from source.

[code]

[2016-07-13 00:25] rosstex commented on #12
I attempted to use brew first, but instead got
[code]

[2016-07-13 01:06] insomniacslk commented on #12
I have updated the homebrew formula to the latest, and added it to the dublin-traceroute repo, under `homebrew`, try with

```brew install https://raw.githubusercontent.com/insomniacslk/dublin-traceroute/master/homebrew/dublin-traceroute.rb```

On OSX Sierra, I don't have access to that OS version, so unfortunately I can't do much. I am happy to support if you want to debug it on your side though.

[2016-07-13 04:46] rosstex commented on #12
Thanks, that fixed the brew issue. I can try! Been a while since I've gdb'd anything.

[2016-07-14 07:31] insomniacslk commented on #12
Are you still having the loader issue? I can try to find a mac with that beta if so

On 13 July 2016 5:46:40 AM IST, Ross Teixeira <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-07-14 07:37] rosstex commented on #12
I am encountering the issue still, and haven't been able to find the bug yet.

[2016-07-14 10:22] insomniacslk commented on #12
I am closing this bug since Sierra is in non-public beta at the moment.

@rosstex let's check this again once it's at least public beta

[2016-07-14 10:22] #12 closed

[2016-09-01 23:36] insomniacslk commented on #6
Added basic ICMP extension printing, https://github.com/insomniacslk/dublin-traceroute/commit/fe79d97ac73678e5b063d813f2f346b92a3c54ac

[2016-09-03 15:27] insomniacslk commented on #6
Completed in https://github.com/insomniacslk/dublin-traceroute/commit/0ba6b85e02901c2091bf11c2c41db9035c659790 . Next steps: use the new JSON fields in python-dublin-traceroute

[2016-10-12 03:29] clay584 opened #18 "Build failure on Centos 7"
I have built and installed the dependencies and the cmake passes all checks.  When I issue make, it fails with a lot of errors.  Any help would be greatly appiciated.

http://pastebin.com/3suXc3Vg

[2016-10-13 08:23] insomniacslk commented on #18
Hi @clay584 , I have mixed feelings about the reason for this build failure. Among the many I believe that you should use at least gcc 4.9 to compile. Can you please try this first and let me know? Then if it doesn't work we can troubleshoot more.

[2017-01-25 22:33] insomniacslk commented on #6
Forgot to close this

[2017-01-25 22:33] #6 closed

[2017-03-06 01:35] zmarty opened #19 "Windows 64 build"
Can you please create a Win 64 build?

Thanks!

[2017-03-06 19:48] insomniacslk commented on #18
No reply in long time, closing. Feel free to reopen with more information for troubheshooting

[2017-03-06 19:48] #18 closed

[2017-03-06 20:00] insomniacslk commented on #19
Hey @zmarty , I don't have a Windows machine for development unfortunately. I'd be happy to host a binary build if you feel like contributing it.

For the record, a few months ago I had a chance to compile dublin-traceroute under Bash-on-Windows, and it went fine, but when running it, it failed at creating raw sockets, even when run as Administrator (plus `sudo` inside). There are a few known bugs

[2017-03-12 22:06] zmarty commented on #19
Yeah I pretty much had the same problem with Bash on Windows. Even if they get this to work I don't feel very comfortable using an extra layer of code translation, since it might affect latency readings.

[2017-03-12 23:20] insomniacslk commented on #19
I guess we will not have a build for Windows anytime soon then

[2017-04-18 13:15] qr-dev opened #20 "Cannot use options on Debian jessie"
Hi,

I am running Debian:jessie on my Scaleway server.
# cat /etc/debian_version
8.7

I added dublin-traceroute with the folowing commands
echo "deb http://httpredir.debian.org/debian testing main" > /etc/apt/sources.list.d/debian-unstable.list
apt-get update;apt-get install dublin-traceroute

To show the prog installed
dpkg -l | grep dublin
ii  dublin-traceroute          0.3-3

[2017-10-15 16:58] rosstex opened #24 "Abort trap: 6"
pu254096:~ rapt$ dublin-traceroute google.com
Starting dublin-traceroute
Traceroute from 0.0.0.0:12345 to google.com:33434~33453 (probing 20 paths, min TTL is 1, max TTL is 30, delay is 10 ms)
libc++abi.dylib: terminating
Abort trap: 6

This is on Mac OS 10.13

[2017-10-29 07:49] yang-dev opened #26 "pypi install error"
failing on both Python 2.7.13 and 3.5.3

[code]

[2017-10-29 07:55] insomniacslk commented on #26
Hello @yang-dev, have you installed dublin-traceroute first? The python module depends on the C++ library, which contains the headers that are missing in your build attempt

[2017-10-29 11:02] yang-dev commented on #26
I installed the deb from debian testing, no dublin_traceroute.h file

[code]

[2017-10-29 18:44] insomniacslk commented on #26
You also need libdublintraceroute-dev which contains the development headers. However the Debian packages are old and won't work with a recent python module. You have a few options:
* install dublin-traceroute and libdublintraceroute-dev 0.4.2 from Debian unstable (https://packages.debian.org/sid/net/dublin-traceroute), since it was uploaded yesterday
* install dublin-traceroute from sources
* ins

[2017-10-29 19:07] insomniacslk commented on #26
Also note that in a few days it should be ported in Debian's backports

[2017-10-30 04:23] yang-dev commented on #26
Finally got it to work. I installed sid deb for libdublintraceroute-dev, dublin-traceroute, libdublintraceroute0 on Debian Stretch/9.1

The Python module does not list the requirements?

ubuntu package: pkg-config, graphviz-dev
python3 module: pygraphviz, tabulate

[2017-10-30 10:02] insomniacslk commented on #26
libdublintraceroute and libdublintraceroute-dev are non-python dependencies. There is no standard nor esay way to pull in non-python dependencies. For example if you install matplotlib via pip, and you don't have the non-python libraries and headers installed, it will fail the same way it failed here. Unfortunately there's no way currently for pip to tell either install it or inform you about the

[2017-10-30 15:37] insomniacslk commented on #26
@yang-dev let me know if this is solved on your side so I'll close the issue

[2017-10-30 18:32] #26 closed

[2017-11-28 00:34] felixge opened #27 "Failed: Malformed packet"
Thanks for working on this project!

I installed via `brew install 'https://raw.githubusercontent.com/insomniacslk/dublin-traceroute/master/homebrew/dublin-traceroute.rb'` and am seeing the following error when trying it out:

[code]

Let me know if I should provide more information.

[2017-11-28 23:00] insomniacslk commented on #20
Wow. I missed this issue for so long, I'm really sorry about that.
The issue was that Debian included a very old version of dublin-traceroute, where the CLI was just a proof-of-concept of the library. Now Debian (at least Unstable) includes a more recent versions (should be 0.4.2). However I recommend building from sources to get the latest versions

[2017-11-28 23:01] #19 closed

[2017-11-28 23:04] insomniacslk commented on #24
Hi @rosstex , apologies for the late reply, seems that I'm not getting Github notifications for the issue tracker.
I guess the problem was that you were using an old version of dublin-traceroute - I recommend using 0.4.2 (the latest at the moment) and building from source, or getting it via Debian Unstable. Let me know if you still see the issue

[2017-11-28 23:07] insomniacslk commented on #27
Hi @felixge , what version of dublin-traceroute are you using? You can check it with `dublin-traceroute --version`. Before we dig into this issue can you check if this happens with HEAD?

Thanks

[2017-11-28 23:33] felixge commented on #27
[code]

Is building HEAD supported via homebrew?

Thanks for the fast reply!

[2017-11-29 09:54] insomniacslk commented on #27
Yes, you can add `--HEAD` to the `brew install` command

[2017-11-29 09:56] insomniacslk commented on #27
Also what's your OSX version?

[2017-11-29 13:36] insomniacslk commented on #24
Also, if the issue still shows up, can you please let me know the details of your platform? I will try to reproduce

[2017-11-29 13:50] insomniacslk commented on #27
Just tried myself on a macOS High Sierra using `--HEAD` and I can't reproduce. Will look for other macOS versions too. Meanwhile, if the issue doesn't disappear on your side, can you tcpdump the traffic with something like this?

On one terminal:
[code]

and on another terminal:
[code]

[2017-11-29 14:08] insomniacslk commented on #24
Ah, this is a known bug. For now just run it with `sudo`, I'll get this fixed ASAP

[2017-11-29 14:43] insomniacslk commented on #20
Just talked to the maintainer of the Debian package, he will work on backporting dublin-traceroute 0.4.2  to Debian stable, so you won't need to enable unstable repos anymore

[2017-11-29 15:32] insomniacslk commented on #27
Thanks!

[2017-11-29 15:59] rosstex commented on #24
Thanks for looking into this! Really appreciated.

[2017-11-29 16:59] felixge commented on #27
I'm behind the same VPN again and can't reproduce the issue. Sorry for the trouble. I'll reopen with more details if I see it again.

[2017-11-29 17:15] insomniacslk commented on #27
no worries :) happy this works for you now!

[2018-02-04 13:42] jkldgoefgkljefogeg commented on #27
I frequently get `Failed: Malformed packet`. No VPN involved.

[2018-02-04 14:09] insomniacslk commented on #27
hi @jkldgoefgkljefogeg , happy to help but I need some more information. What's your platform? Are you using a packaged version or from git? Any other information you can provide will help troubleshooting

[2018-02-04 14:57] jkldgoefgkljefogeg commented on #27
Debian GNU/Linux 9.3 (stretch)
Dublin Traceroute 0.4.2 (installed from debian deb)

Running the same traceroute sometimes it fails with `Failed: Malformed packet`. I will try to get a pcap next time it happens.

[2018-02-04 16:55] insomniacslk commented on #27
Thanks, the pcap would help a lot

[2018-02-21 10:53] brmzkw opened #28 "Scaleway NAT no longer breaks traceroute"
[In the README](https://dublin-traceroute.net/README.md) you mention Scaleway having a broken NAT. They have been upgraded, and traceroute is fine now.

[code]

[2018-02-21 10:59] insomniacslk commented on #28
Thanks for reporting! I will have a look at it later today and adjust the documentation as appropriate

[2018-02-22 17:11] insomniacslk commented on #28
I've updated the README in https://github.com/insomniacslk/dublin-traceroute/pull/29 . Thanks @brmzkw for reporting this and for people at Scaleway for fixing it :)

@brmzkw out of curiosity, can you share some insight about what was the issue? A misconfiguration or some special configuration?

[2018-02-22 17:14] insomniacslk commented on #28
Also replied on https://community.online.net/t/ping-works-but-not-traceroute/439/5

[2018-02-22 17:20] brmzkw commented on #28
Sure,

The current NAT software that brings network to Scaleway clients is a home made software, built with [DPDK](https://dpdk.org/). The code is not opensource, but it might be in a near future.

[RFC 5508](https://tools.ietf.org/html/rfc5508) was not correctly implemented, which has been fixed recently.

Traceroute sends IP messages with short TTL and excepts to receive ICMP error messages to k

[2018-02-22 18:32] insomniacslk commented on #28
Thanks for the explanation!

-- an even happier Scaleway customer (yes, dublin-traceroute.net is hosted there :) )

[2018-02-22 18:35] insomniacslk commented on #28
also good to see that my troubleshooting on the scaleway forum was correct :)

I'm closing this issue since it's fixed now

[2018-02-22 18:35] #28 closed

[2018-03-26 18:19] rosstex commented on #24
Bump, has this been fixed?

[2018-03-28 22:30] insomniacslk commented on #24
not yet, but you can try the Go implementation (a lot easier to iterate on) that doesn't suffer of that issue. It's in the `go` subdirectory of this repository

[2018-03-29 11:04] infinity0 commented on #27
This happens about 1/2 of the time when I traceroute google.com and roughly 3/4 of the time when I traceroute 8.8.8.8. Do you want the pcap in "pcap" or "pcap-ng" format? And do you have a GPG key I can encrypt the file to, b/c I don't want to post that sort of stuff publicly.

[2018-03-29 11:30] infinity0 commented on #27
Perhaps the program shouldn't fail-hard on these malformed packets? The trace seems to go alright otherwise, the malformed packet could just be represented as [malformed packet] in the trace output.

[2018-04-03 07:44] insomniacslk commented on #27
can you attach a pcap file of a failed traceroute? If I can't reproduce it's hard to understand what's going on

[2018-04-06 08:46] guigui80 commented on #27
Hello,

I have the same each time when I run dublintraceroute. I have tested dublintraceroute from deb 0.4.2 on debian:

`WARNING: you are running this program as root. Consider setting the CAP_NET_RAW
         capability and running as non-root user as a more secure alternative.
Starting dublin-traceroute
Traceroute from 0.0.0.0:12345 to 8.8.8.8:33434~33453 (probing 20 paths, min TTL is 1, max TT

[2018-04-06 14:06] insomniacslk commented on #27
I was able to semi-consistently reproduce on a VPS, I'll have a look at this on the weekend. Ideally, improving the error message to know what exactly went wrong in decoding the packet is already a good help (and also log errors but not breaking on them)

[2018-04-07 17:47] insomniacslk commented on #27
Found the issue - it fails because of ICMP echo requests coming to the host, and the code doesn't check if the IP-in-ICMP serialization succeeded.

@guigui80 @infinity0 @jkldgoefgkljefogeg @felixge can you please check that the latest commit (https://github.com/insomniacslk/dublin-traceroute/commit/d2c3549ce315aeb5823c042d915e9e4c5bdd80ba) fixes this for you?

[2018-04-08 09:48] guigui80 commented on #27
It  works for me now. I have run several time dublin-traceroute and no error has appeared.

[2018-04-08 10:24] insomniacslk commented on #27
awesome :) I will wait for some more feedback before closing this issue

[2018-04-11 19:41] insomniacslk commented on #27
I assume this is fixed. Closing

[2018-04-11 19:41] #27 closed

[2018-04-12 08:16] insomniacslk commented on #20
@qr-dev can I consider this closed?

[2018-07-23 01:32] h3ct0r opened #31 "Keep DST port fixed and set a SRC base port"
Hi,

I would like to know if there is the option to keep a fixed destination port and use multiple src ports?

As I'm seeing, at the moment the source port is static, and the destination port is used as a base + the number of paths selected. Having the two options would be helpful.

[2018-07-23 01:40] h3ct0r opened #32 "About the '*' misterious node names"
Hi,

First, I would like to thank you guys for making available/open sourcing this tool (and taking the effort to create a nice documentation).

Sometimes the trace gives a ' * ' name to some terminal nodes, as observable in the toy example of the image attached. Is this normal?

![trace_local_192 168 0 7](https://user-images.githubusercontent.com/2656938/43052941-4038b068-8e00-11e8-8835-7f13b3749

[2018-07-23 01:45] h3ct0r opened #33 "Inter-packet delay"
Hi,

Not exactly an issue but more like a documentation explanation:
What does the inter-packet delay in milliseconds do and how it affects the trace? For example: What could be a reasonable expectation of changing this number to 100 milliseconds or 1 millisecond?

Thanks!

[2018-07-23 13:09] insomniacslk commented on #33
hey @h3ct0r :) the inter-packet delay is the time (in ms) that the packet processor waits before sending the next packet.

For example, in a traceroute with 2 paths and TTL from 1 to 5, dublin-traceroute would send:
* all the packets on the first path, from TTL 1 to TTL 10
* all the packets on the second path, from TTL 1 to TTL 10

What happens with the inter-packet delay is:
* packet for path 1 a

[2018-07-23 13:22] insomniacslk commented on #32
Hello @h3ct0r, happy that you like the tool!

There is some further documentation on https://blog.dublin-traceroute.net , which I would recommend you to read as it explains step by step how things are done. I can write more posts if you have a specific request.

In your specific example, the `*` represents a missing response to a probe packet that should be located at that layer. In particular, du

[2018-08-01 23:28] h3ct0r commented on #31
Hi @insomniacslk, I'm working on a pull request with this feature, I think it's going to be ready in a couple of days.

[2018-08-01 23:59] h3ct0r commented on #32
Hi @insomniacslk, thank you for the response. I did read the blog, very informative! :)
I will try to make a more detailed analysis, but for now, we can set this issue as closed!

Thanks again!

[2018-08-01 23:59] #32 closed

[2018-08-02 00:00] h3ct0r commented on #33
Hi @insomniacslk , your explanation is very clear! No need for further clarifications! :)
Thanks!

[2018-08-02 00:00] #33 closed

[2018-08-19 16:58] insomniacslk opened #35 "[go-dublintraceroute] Add flag to iterate on source port in Go version too"
In https://github.com/insomniacslk/dublin-traceroute/pull/34 we added support to iterate over source port instead of destination port for path generation. This has to be implemented in the Go version too

[2018-09-26 12:00] insomniacslk commented on #35
cc @gbagnoli

[2018-09-26 12:45] gbagnoli commented on #35
cool! I can take this

[2018-09-27 22:30] insomniacslk commented on #35
As discussed in person, I had some time and gave it a shot in #37 . Still WIP though, to be tested

[2019-02-18 10:06] insomniacslk commented on #31
Fixed in https://github.com/insomniacslk/dublin-traceroute/pull/34

[2019-02-18 10:06] #31 closed

[2019-04-04 13:33] insomniacslk opened #42 "Implement TCP probes"
The packet injector will send SYN packets, the packet matcher will match RST (and be flexible enough to handle other states too)

[2019-04-28 02:19] HackerQuaker opened #48 "make command fails"
I installed libations, jsconcpp, libpcap-dev but when I run the make command in the "build" directory inside dublin-traceroute, it fails.

`ubuntu:~/dublin-traceroute/build$ make
[ 12%] Building CXX object CMakeFiles/dublintraceroute.dir/src/common.cc.o
In file included from /home/ubuntu/dublin-traceroute/src/common.cc:16:0:
/home/ubuntu/dublin-traceroute/include/dublintraceroute/common.h:23:23: f

[2019-04-28 15:33] insomniacslk commented on #48
The error message says
[code]
which means you're missing the libtins headers. They can be installed with the `libtins-dev` package.

To see the visual traceroute just follow the instructions after running the tool. It will suggest you to transform the JSON output to a PNG by using [the Python bindings](https://github.com/insomniacslk/python-dublin-traceroute), which in turn require graphviz (libra

[2019-04-28 22:39] insomniacslk commented on #48
I just realized that "libations" in your request was actually "libtins". So you may just have the wrong version: dublin-traceroute requires libtins 3.4 as indicated in CMakeLists.txt. Can you check your installed version ?

[2019-05-01 19:09] HackerQuaker commented on #48
Hey insomiacslk, I really appreciate you helping me out with this. I'm using it for a school project and it'll really make things so much better! I had the latest version installed (4.x). I pulled [3.4] (https://github.com/mfontanini/libtins/releases/tag/v3.4) and built it.

Then I went to libtin's [page](http://libtins.github.io/download/#compiling) and realized I needed to run:
`sudo make instal

[2019-05-01 23:30] HackerQuaker commented on #48
When I am in the build folder, I am able to do:
[code]
Note that I cannot run the tool using just '$ dublin-traceroute'; I need to stay in the build folder.

For the PNG to generate I would need the [python](https://github.com/insomniacslk/python-dublin-traceroute) bindings so I git cloned it and this is the new message I get, that says I don't have dublin-traceroute installed.
[code]

What am I m

[2019-05-02 01:18] insomniacslk commented on #48
I see you sorted things out, good job! If you don't need the latest code and don't need to make any changes there is also a (not too recent) Debian package that you can install with `apt install dublin-traceroute`. Similarly I packages and uploaded the python library on pypi, so a `pip install dublintraceroute` should sort you out also for the python bindings. At first I didn't think of suggesting

[2019-05-11 04:24] HackerQuaker commented on #48
Hey,

I'm trying this install on another machine (just Dublin, not the Python version). I keep getting this error when I run the 'make' command from the build folder.

[code]

So I tried running:
[code]
I have ** libpcap-dev**, **libtins v3.4** and ** libjsoncpp-dev** installed. But I still get the same error. I've spent a few hours trying to fix this, and perhaps fixing this issue will help other

[2019-05-11 07:42] insomniacslk commented on #48
I believe that is libtins that should be recompiled with -fPIC. Can you try that and let me know?

[2019-05-16 19:42] HackerQuaker commented on #48
Hello insomniacslk,

I tried to have the flag for libtins, but I was not successful. Let me get back to you later perhaps? Thanks a lot for your prompt replies man, the tool is super cool!

[2019-05-17 05:06] insomniacslk commented on #48
Sure. I noticed that it tries to use the archive file (libtins.a) instead of the shared object. So the suggestion to recompile with-fPIC may be a red herring. Can you make sure that your installation of libtins is actually including the .so file?

[2019-06-18 22:26] insomniacslk opened #55 "Replace tins with raw sockets"
libtins is not really required, and largely increases the space footprint with a lot of features that are not used for tracerouting. Packet injection can be implemented entirely with raw sockets (necessary to set IP ID), and parsing just requires ip and udp headers and some glue.

[2019-06-18 22:33] insomniacslk opened #56 "Replace Tins::Timestamp with std::chrono::time_point"
See https://stackoverflow.com/questions/31409036/converting-from-struct-timespec-to-stdchrono/31414376 for conversion.

Verify if std::chrono::steady_clock::time_point can be used .

Basically:
[code]

[2019-08-06 10:14] insomniacslk opened #57 "Implement -N to avoid reverse DNS lookup"

[2019-08-12 18:23] #57 closed

[2019-08-21 09:23] insomniacslk opened #61 "Handle exceptions like missing route to destination and permission denied"
Currently if there is no route to the destination, or if it's run as unprivileged user, dublin-traceroute will fail with

[code]

[2019-08-21 11:32] zhovner opened #62 "Build failed on macOS using brew (jsoncpp not found)"
I've try to build it using brew formula

`brew install https://raw.githubusercontent.com/insomniacslk/dublin-traceroute/master/homebrew/dublin-traceroute.rb`

and get this error:

[code]

Package jsoncpp is installed. Probably you have `jsoncpp-devel` instelled on your system?

[2019-08-21 15:14] insomniacslk commented on #62
hey @zhovner , I don't have a Mac to test this on, but the CI seems to work just fine on OSX. The dependencies are installed according to this script, https://github.com/insomniacslk/dublin-traceroute/blob/master/.travis/install_dependencies_osx.sh . Can you try to run these commands first, then retry the brew install dublin-traceroute.rb ?

Also, which version of OSX are you on?

Meanwhile I'll a

[2019-08-21 17:12] zhovner commented on #62
What is CI?

All dependencies are already installed by homebrew formula and I have `jsoncpp` package installed:
[code]
and pkg file:
[code]

It's all symlinked to this `jsoncpp` package files:

[code]

I'm using latest macOS Mojave 10.14.6 (18G87) and latest packages from brew.

[2019-08-21 20:09] insomniacslk commented on #62
What's the output of `pkg-config --libs --cflags jsoncpp`?

[2019-08-21 20:13] insomniacslk commented on #62
I wonder if PKG_CONFIG_PATH is pointing to the correct location. According to https://linux.die.net/man/1/pkg-config :
[code]

[2019-08-21 20:18] insomniacslk commented on #62
Continuous Integration, the automated tests that I use to build dublin-traceroute on linux and osx at every commit

[2019-08-21 22:18] zhovner commented on #62
`-I/usr/local/Cellar/jsoncpp/1.9.1/include -L/usr/local/Cellar/jsoncpp/1.9.1/lib -ljsoncpp`

[2019-08-22 07:59] halfa commented on #28
For any curious people passing by, the DPDK NAT platform [is now open-source](https://github.com/scaleway/natasha)

[2019-08-22 17:07] insomniacslk commented on #62
I'm struggling to reproduce the issue here, and I won't have access to a macOS device before next week (because of holidays abroad).

Meanwhile I'm trying to understand from the cmake documentation what could be failing to find the package via pkg-config

[2019-08-22 17:15] insomniacslk commented on #28
This is awesome! Thanks @halfa for following up and letting us know :-)

[2019-08-23 20:31] insomniacslk opened #65 "[go/dublintraceroute] switch conn to mdlayher/raw"

[2019-08-24 15:31] insomniacslk opened #66 "[go/dublintraceroute] rename Marshal to MarshalBinary"
Rename marshalling methods to adhere to the BinaryMarshaller interface, https://golang.org/pkg/encoding/#BinaryMarshaler

[2019-08-25 14:34] #61 closed

[2019-08-25 15:37] #66 closed

[2019-08-25 16:02] insomniacslk commented on #62
FYI the PR where I'm trying to reproduce the issue is https://github.com/insomniacslk/dublin-traceroute/pull/64

[2019-08-25 16:04] insomniacslk opened #69 "Separate unit tests from integration tests in CI"

[2019-10-22 09:40] q2dg opened #70 "https://dublin-traceroute.net/repo gives a 404 error"
So installation instructions for CentOS packages fail.
Thanks!

[2020-01-06 14:47] fra-iesus commented on #62
Hi there, I have the same issue (macOS version is the same as well). In case any check on my side could be done to speed up the fixation, just let me know.
Thanks.

[2020-01-24 07:39] alicektx opened #71 "...tracebox?"
Hi! Not an 'issue' at all by any means actually -
was just curious if you were aware of tracebox?
[http://www.tracebox.org/](http://www.tracebox.org/)

dublin-traceroute.net explains very well in simple terms for us non-gurus,
the differences between dublin-traceroute & paris-traceroute.
So i'd really love to further hear (& learn from) your thoughts in regards to tracebox at some point...

All th

[2020-01-24 09:38] insomniacslk commented on #71
Hello @alicektx ! I am aware of tracebox, I'll try to explain what I think are the main differences between tracebox and dublin-traceroute:

* the main one: tracebox aims at detecting packet manipulation, while dublin-traceroute aims at giving a view as complete as possible of a multipath network
* tracebox works with TCP, while dublin-traceroute currently only focuses on UDP (TCP probes are on th

[2020-01-24 09:42] insomniacslk commented on #70
Hello @q2dg , apologies, I missed the notification for this! The CentOS installation information is outdated, you should use the `teknoraver/networking` COPR, see https://copr.fedorainfracloud.org/coprs/teknoraver/networking/package/dublin-traceroute/ . I will update the installation instructions in the documentation

[2020-01-24 09:46] insomniacslk commented on #70
Updated in https://github.com/insomniacslk/dublin-traceroute/pull/72

[2020-01-25 02:36] alicektx commented on #71
Deeply thank you for your time & detailed explanations!!

Was reading about zstd, then started browsing facebook's other github repos,
stumbled upon fbtracert, which got me extremely curious & interested,
so from there on eventually one thing brought the next one etc etc...

Some truly awesome research & algorithms you guys are developing...:fire:
Kinda getting older here (and gone are the days th

[2020-01-25 02:36] #71 closed

[2020-02-06 16:26] anburhce opened #73 "How to use TCP & ICMP protocal instaed of UDP protocol (Default) while doing tracing"
Hi Andrea,

I have used Centos repo to install dublin-traceroute and the version details u can find below.

Installed version v0.4.2

![image](https://user-images.githubusercontent.com/23453745/73956502-0b495c80-492b-11ea-8e51-e7b9a576c647.png)

How do I select or use TCP/ICMP instead of UDP protocol? I do not find any option in v0.4.2 in help output.

Kindly assist.

[2020-02-06 17:27] insomniacslk commented on #73
Hi @anburhce, TCP and ICMP probes are not implemented. The code has been refactored to simplify the addition of new probe types, but so far I didn't have a chance to work on it. If you want of course feel free to submit a PR!

[2020-02-12 11:22] anburhce commented on #73
Fixes #73

[2020-02-12 11:22] #73 closed

[2020-02-13 23:42] insomniacslk commented on #70
this is resolved

[2020-02-13 23:42] #70 closed

[2020-03-31 14:19] rapier1 opened #75 "Choose interface on multihomed hosts"
Is it possible to extend this to allow the user to specify the non-default interface? This would be helpful on systems that are attached to multiple networks. I've taken a look at the code and if I can figure it out I'll let you know but I'm a C guy; C++ is still a new world for me.

Thanks

[2020-03-31 14:23] insomniacslk commented on #75
Hi @rapier1 , making this OS-independent could be tricky, but it's easily doable on Linux at least. We can use SO_BINDTODEVICE on the outgoing socket for the Go version of the tool, and I'm pretty sure that libtins allows setting the outgoing interface, for the C++ version

[2020-03-31 14:38] rapier1 commented on #75
OS independence is always the tricky part.

If you do get the chance to look at this I would appreciate it - even if its just a one off for linux.

As to why I"m interested in this:
I'm using dublin traceroute as part of an automated network testing tool. It's a minimal iso that boots into a live cd of known good configuration and runs a mess of tests against perfSonar nodes (iperfs, udp tests, tc

[2020-04-01 21:35] omribahumi commented on #75
How about specifying the source IP and using policy routing for choosing the internet? I think it will work properly.
Anyway, I came here because I'm interested in specifying the source IP for our network layout.

I think that all that's needed to change is this code for the sourceip:
https://github.com/insomniacslk/dublin-traceroute/blob/master/include/dublintraceroute/udpv4probe.h#L42

You need

[2020-04-01 21:37] omribahumi commented on #75
Actually, the interface can also be chosen there: https://github.com/insomniacslk/dublin-traceroute/blob/master/src/udpv4probe.cc#L58

[2020-04-03 20:02] insomniacslk commented on #75
Apparently libtins ignores the network interface parameter, https://github.com/mfontanini/libtins/blob/master/src/ip.cpp#L393

[2020-04-09 17:30] insomniacslk opened #78 "Generate packets with the flow hash of a reference packet"
Add a CLI flag to generate a single-path traceroute that has the same flow hash of a reference packet

CC @omribahumi

[2020-04-14 08:39] omribahumi commented on #75
For IP packets, it makes sense not to allow you to specify the egress interface.
The OS needs a functioning routing table for reasoning about ARP. If the egress interface you specify conflicts with the current routing table, where would the ARP request go to? It doesn't make sense to send ARP on eth0 and then send the packet out of eth1, and it can't assume anything about the directly connected ho

[2020-04-19 13:12] omribahumi opened #80 "Allow overriding trace.json output with a different name"
Would also be cool to write the JSON output to stdout directly.
Other stuff can go to stderr.

Maybe specifiable with a flag?

[2020-04-19 13:13] insomniacslk commented on #80
you can already use -o/--output-file` for that, I guess you would rather change the default from trace.json to stdout?

[2020-04-19 13:17] insomniacslk commented on #80
Changing the default is OK for me, it's the same thing I already do in the Go implementation. I'll put up a PR

[2020-04-19 15:24] #80 closed

[2020-05-07 04:10] shufanhao opened #82 "Run dublin-traceroute in container hang"
Start container command:
[code]
Hang here, wait about 1 hours, there is no updated.
[code]

Is there anyone who know what's wrong about it ?

[2020-05-07 12:06] insomniacslk commented on #82
Can you please add `strace` to the Docker image and show me the output of dublin-traceroute under strace? Also, can you try calling dublin-traceroute with `-N`?

[2020-05-12 11:55] qudongfang opened #85 "Core dumped on WSL"
[code]

[2020-07-11 22:12] insomniacslk opened #87 "Assess usability of go.pkt for the Go implementation"
Currently I use a custom, partial implementation of IPv4/IPv6/UDP headers. Check `go.pkt` out, https://github.com/ghedo/go.pkt

[2020-07-11 22:30] insomniacslk commented on #87
Probably not, as this requires CGo

[2020-07-12 21:35] insomniacslk commented on #85
this is a known issue, see https://github.com/insomniacslk/dublin-traceroute/issues/24 . Did you run as root?

[2020-07-12 21:36] #20 closed

[2020-07-12 21:37] insomniacslk commented on #5
current status: IPv6 support is present in the Go implementation but not yet in the C++ one

[2020-07-12 22:21] insomniacslk commented on #85
I don't have access to a Windows machine, but if running as root in WSL doesn't fix that for you we can try to troubleshoot it together. Last time I tried it (a couple of years ago), WSL didn't support raw sockets, so it wasn't possible to run dublin-traceroute

[2020-08-10 16:04] eddie4 opened #93 "Using wrong interface"
Hello let me start to thank you for this tool.

However i seem to run into an issue where it chooses the wrong source IP. When multiple are assigned to the networkcard.

Routing table:
[code]

root@web05:~# ip a
[code]

dublin-traceroute 87.233.y.y  Trace.json
[code]

This does not seem to happen when using two network cards. Just when one networkcard has multiple IP's.

[2020-08-10 16:34] eddie4 commented on #93
Hmm scratch that. It doesn't work on a machine that has multiple cards. It might have just worked on that one machine because the card i used has the lowest mac.

When disabling a card because I don't want to use that card the application crashs
ens3 (56:16:97:c7:33:32) << card which ip i want to use and has default gateway
ens4 (56:16:64:4e:3f:8a) << card dublin-traceroute picks

~# ip link set e

[2021-01-20 14:56] #87 closed

[2021-01-20 15:04] insomniacslk commented on #82
Hey @shufanhao , I cannot reproduce the issue using
[code]

It also works if I use `--net=host`. Can you show me the output? Silly question, but if you remove `-d` from the command line does it do what you expect?

[2021-01-20 23:16] insomniacslk commented on #69
done in other PRs

[2021-01-20 23:16] #69 closed

[2021-03-16 04:49] haloss1 opened #104 "Go Version Build Instructions?"
Hi, first of all, wonderful tool!, i tried installing/building the Go version for IPV6 support from these instructions, yet i'm getting the following errors:
[code]

[code]

I'm not very familiar with Go, any help is greatly appreciated, i'm doing a comparison of the routes taken from various ISPs here where i live, your tool has helped me a lot visualizing my ISPs infrastructure in IPV4, beign ab

[2021-03-16 19:37] insomniacslk commented on #104
hey @haloss1 , thanks for reporting this issue! My guess is that you are either using Go 1.16 or have Go modules enabled via GO111MODULE env var. In that case you would have to set GO111MODULE=off before building, since I haven't migrated to Go modules yet. Can you please try this and let me know? If it fails, the output of `go env` might help. Thanks!

[2021-03-17 03:35] haloss1 commented on #104
Thanks!, after setting GO111MODULE=off, i can do ```go get github.com/insomniacslk/dublin-traceroute/go/dublintraceroute/cmd/dublin-traceroute``` successfully, although i'm getting the following while using the python bindings for plotting:
[code]
[code]

[2021-03-18 11:13] insomniacslk commented on #104
The Python bindings are strictly tied to the C++ implementation. Did you install them with `make install`?

[2021-03-21 01:20] haloss1 commented on #104
Yes, thank you so much, i installed the C++ implementation from the AUR and it worked perfectly.

[2021-03-21 01:20] #104 closed

[2021-04-09 18:41] supertylerc commented on #62
Hello.  I've experienced the same issue.  I had to fix it by setting `LIBRARY_PATH`.  Before:

[code]

After:

[code]

[2021-05-08 11:32] garoraji opened #106 "Invalid usage: Non-checksummed download of dublin-traceroute formula file from an arbitrary URL is unsupported! (UsageError)"
I read all about the tools and I think it is amazing, now I am trying to install it on Mac OS 11.3. I have installed the Xcode from app store and then tried running the command shared but it errors out:

brew install https://raw.githubusercontent.com/insomniacslk/dublin-traceroute/master/homebrew/dublin-traceroute.rb

Updating Homebrew...
==> Auto-updated Homebrew!
Updated 1 tap (homebrew/core).
=

[2021-05-18 20:22] trcnllc opened #107 "MacOS 10.15.6 'Catalina' brew install fails"
example of how to install dublin-traceroute on MAC failed with the following

brew install https://raw.githubusercontent.com/insomniacslk/dublin-traceroute/master/homebrew/dublin-traceroute.rb
Traceback (most recent call last):
`brew extract` or `brew create` and `brew tap-new` to create a formula file in a tap on GitHub instead.: **Invalid usage: Non-checksummed download of dublin-traceroute form

[2021-05-21 01:38] xoengine commented on #107
I got the same error.  I did

wget https://raw.githubusercontent.com/insomniacslk/dublin-traceroute/master/homebrew/dublin-traceroute.rb
Then did
brew install --HEAD -s dublin-traceroute.rb

Now it bombs like this

% brew install --HEAD -s dublin-traceroute.rb
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 2 taps (homebrew/core and homebrew/cask).
==> New Formulae
marp-cli
==> Updated For

[2021-05-21 01:59] xoengine commented on #107
Sorry for the multiple posts.  I did this and it see
cd /Library/Developer/CommandLineTools/SDKs/
sudo ln -s MacOSX11.3.sdk MacOSX11.0.sdk
brew install --HEAD -s dublin-traceroute.rb
It's installed.  Now to figure out how to use it.

[2021-05-21 16:14] xoengine commented on #107
Also needed to edit to_graphviz.py to change
    print graph
    to
    print(graph)

and
    for flow, hops in traceroute['flows'].iteritems():<br class="Apple-interchange-newline">
to
    for flow, hops in traceroute['flows'].items():<br class="Apple-interchange-newline">

I've no clue what I'm doing but this all worked for me.

[2021-06-18 22:45] DG12 opened #108 "Invalid usage: Non-checksummed download"
As per instructions

install https://raw.githubusercontent.com/insomniacslk/dublin-traceroute/master/homebrew/dublin-traceroute.rb

(after updating brew)

`brew extract` or `brew create` and `brew tap-new` to create a formula file in a tap on GitHub instead.: Invalid usage: Non-checksummed download of dublin-traceroute formula file from an arbitrary URL is unsupported!  (UsageError)

[2021-06-18 22:47] DG12 commented on #108
Sorry duplicate of issue #106 and #107

Although on Big Sur 11.5 beta (20G50422c)

[2021-06-18 22:47] #108 closed

[2021-10-16 17:22] jbemmel commented on #75
For IPv6 libtins now does look at the interface: https://github.com/mfontanini/libtins/commit/a619e4ff98ccb9d0a68d86ad1e01dfa67794b60c#diff-b23b9d060c719b60ce59dccae8ef233bf13ae3b2cedfa7610b0f202b5a9e39b5

[2021-10-19 20:50] dragonxtek opened #110 "does not recognize answers"
I'm trying to get the equipment from hop 8 to 10 to identify themselves, but I have 2 problems.
The first is that the same router responds to TTL 8,9 and 10. Does anyone know what kind of configuration is that in the router? or why that happens?
![Selection_117](https://user-images.githubusercontent.com/10552658/137988276-57c499c9-5932-4b21-9ded-df84b183b5aa.jpg)

The second problem is that, altho

[2021-10-22 19:10] dragonxtek opened #111 "terminate called after throwing an instance of 'std::runtime_error'"
I installed dublin-traceroute in my Android with Andronix (with apt install dublin-traceroute). I change the root user by test, but when I try to run it I have the following issue:
![Selection_133](https://user-images.githubusercontent.com/10552658/138509995-dd70511f-43bc-47c7-98c6-8e0ee8a9f8ed.jpg)

If I tried in root mode I got the following issue
![Selection_134](https://user-images.githubuserc

[2022-01-10 04:54] lockywolf opened #112 "Not getting the trace even though GNU traceroute is getting the trace fine."
So, I have ECMP implemented on my machine is the way that gives different traces for different source ports:

[code]

I am giving `-M udp` in order to match dublin-traceroute's probe algorithm.

I am running dublin-traceroute like this:

[code]
The above command fails, with both tracer ending in a *.
The aforementioned `modern traceroute` works as expected, with sports 33074 and 33075 giving diffe

[2022-01-10 13:44] insomniacslk commented on #112
hey @lockywolf , thanks for the report! I cannot reproduce your issue from my network. Can you share an anonymized `trace.json` so we can debug this more easily?

Also there's a small typo in the command line, the `-T` argument requires a number or the invocation would fail. I assume this is just a copy-paste issue?

[2022-01-18 07:34] lockywolf commented on #112
[code]

To be honest, this json is valid :(. At least, `jq` refuses to query it.

Any way, the at least the source ips are wrong. With identical settings, sport, dport, UDP, `modern traceroute` chooses two different source ip addresses.

[2022-01-18 10:43] insomniacslk commented on #112
Aah this smells like output interface selection issue. Can you check if `ip route get 1000 46.23.90.181` gives you the same interface as the the IP address that is used by `dublin-traceroute`?

[2022-01-18 11:18] lockywolf commented on #112
No, it doesn't.

And it only returns one interface (the other one).

Whereas traceroute itself would choose the interface depending on the ECMP hashing function; different port -- different interface.

[2022-01-26 04:26] DD152 opened #113 "-i opt didn't work in to_graphviz.py"

[2022-01-26 04:38] DD152 commented on #113
If you want to draw a graph with multiple src port, you can change line 87
`edgeattrs['label'] = 'dport\n{dp}'.format(dp=flow)`
to
`edgeattrs['label'] = 'sport\n{sp}'.format(sp=flow)`

[2022-07-02 14:40] xoengine opened #114 "Invalid link in Python bindings for OSX"
Hi

I'm trying to get dublintrceroute re-installed.  I used it successfully a while back.  I'm following the instructions but hit this link

https://github.com/insomniacslk/dublin-traceroute/blob/master/documentation/readme/README.md#building-on-os-x.

on this page
https://github.com/insomniacslk/python-dublin-traceroute

The link is no longer valid.  Could you help with updating the correct locat

[2022-07-02 15:00] xoengine commented on #114
Ultimately this is what I ended up with..  Any guidance would be great.

python3 ~/to_graphviz.py trace.json

Traceback (most recent call last):
  File "/Users/mcevilly/to_graphviz.py", line 124, in <module>
    main()
  File "/Users/mcevilly/to_graphviz.py", line 107, in main
    traceroute = json.load(args.jsonfile)
  File "/usr/local/Cellar/python@3.9/3.9.13_1/Frameworks/Python.framework/Versio

[2022-08-22 05:46] josephcolton commented on #112
I am finding a similar issue.  When trying to run dublin-traceroute (Dublin Traceroute 0.4.2) to baidu.com using "dublin-traceroute 39.156.66.10", I get most of the way there, then the traceroute stops prematurely.  I get all of the way there using scamper with icmp-paris, udp-paris, and icmp.  Using normal traceroute (Modern traceroute for Linux, version 2.1.0), I get about as much as dublin-trac